<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h2 class="mb-links">
                Red De Profesionales De Cotopaxi
            </h2>
            <h3 class="mb-5">
                <em>Compra y Venta de productos Agricolas</em>
            </h3>
        </div>
    </header>
</main>