<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h2 class="mb-links">
                Red De Profesionales De Cotopaxi
            </h2>
            <h3 class="mb-5">
                <em>Compra y Venta de productos Agricolas</em>
            </h3>
            <div class="alert alert-danger" role="alert">
                Pagina de compra y venta de productos agricolas, version 1.0, por favor comunicar errores o recomendar mejoras
            </div>

        </div>
    </header>
</main>