<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Red De Profesionales De Cotopaxi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">{{!-- me-auto (right) -- ms-auto (left) --}}
                <form class="d-flex" action="/shop/search" method="GET">{{!-- cambio en la ruta --}}
                    <input class="form-control me-2" type="search" name="buscar" id="search" placeholder="Buscar"
                        aria-label="Search" maxlength="50"
                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    <button class="btn btn-outline-success " type="submit">Buscar</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fal fa-home-alt"> Inicio</i>
                    </a>
                </li>
                {{#if user}}

                <li class="nav-item">
                    <a class="nav-link" href="/cart">
                        <i class="fas fa-shopping-cart"> Carrito</i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/products">
                                <i class="fal fa-universal-access"> Perfil</i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/products/add">
                                <i class="fal fa-shopping-basket"> Vender</i>
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="/shop">
                                <i class="fal fa-cart-arrow-down"> Comprar</i>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">
                                <i class="fal fa-sign-out"></i> Salir</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Detalle
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/detail/buy">
                                <i class="fal fa-clipboard-list"> Compra</i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/detail/sell"><i class="fal fa-clipboard-list-check"></i>
                                Venta</i>
                            </a>
                        </li>
                    </ul>
                </li>

                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Comprar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Crear Cuenta</a>
                </li>
                {{/if}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Acerca de RPC
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/info">Información</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/us">Nuestro Equipo</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>

    fetch('/searchname')
        .then(res => res.json())
        .then(data => {

            var productnames = [];

            const products = '';

            data.products.forEach(names => {
                productnames.push(names.PRODUCTO_NOMBRE);
            });

            let uniqProducts = Array.from(new Set(productnames));

            $("#search").autocomplete({
                source: uniqProducts
            });

        });

</script>