<div class="container p-4">
    <div class="row">

        <div class="container">
            <div class="row">
                
                <div class="col-xs-12 col-md-9 col-md-push-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="thumbnail row text-center" style="min-height:260px;">
                                                    <img src="/img/association/img1.jpg"
                                                        style="height:200px;  background: url(/public/img/loading.gif) 50% no-repeat;">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="thumbnail row text-center" style="min-height:260px;">
                                                    <img src="/img/association/img2.jpg"
                                                        style="height:200px;  background: url(/public/img/loading.gif) 50% no-repeat;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="thumbnail row text-center" style="min-height:260px;">
                                                    <img src="/img/association/img3.jpg"
                                                        style="height:200px;  background: url(/public/img/loading.gif) 50% no-repeat;">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="thumbnail row text-center" style="min-height:260px;">
                                                    <img src="/img/association/img4.jpg"
                                                        style="height:200px;  background: url(/public/img/loading.gif) 50% no-repeat;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thumbnail row text-center" style="min-height:350px;">
                                            <img src="/img/association/img5.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail row text-center" style="min-height:260px;">
                                            <img src="/img/association/img6.jpg"
                                                style="height:200px;  background: url(/public/img/loading.gif) 50% no-repeat;">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail row text-center" style="min-height:260px;">
                                            <img src="/img/association/img7.jpg"
                                                style="height:200px;  background: url(/public/img/loading.gif) 50% no-repeat;">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail row text-center" style="min-height:260px;">
                                            <img src="/img/association/img8.jpg"
                                                style="height:200px;  background: url(/public/img/loading.gif) 50% no-repeat;">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail row text-center" style="min-height:260px;">
                                            <img src="/img/association/img9.jpg"
                                                style="height:200px;  background: url(/public/img/loading.gif) 50% no-repeat;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-3 col-md-pull-9">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Quienes somos?</h3>
                        </div>
                        <div class="panel-body" style='text-align: justify;' >
                            La Red de Profesionales de Cotopaxi, es una organización social sin fines de lucro integrada por profesionales multidisciplinarios, con el objetivo de promover un desarrollo sostenible y sustentable para lograr una sociedad más equitativa y justa.
                        </div>
                    </div>                    
                </div>

            </div>            
        </div>

    </div>
</div>