<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="container">
                <p class="alert_success">&#x2611; Cuenta confirmada correctamente</p>
            </div>
        </div>
    </div>
</div>