<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        Reiniciar Contraseña
                    </h3>
                </div>
                <div class="card-body">
                    <img src="/img/icono.png" alt="Logo Epresa" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="" method="POST">
                        <div class="mb-3">
                            <input type="password" name="password1" placeholder="Contraseña Nueva" class="form-control" required autofocus>
                            <font size=2 class="text-danger">Mínimo 5 caracteres</font>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password2" placeholder="Repita Contraseña" class="form-control" required>
                            <font size=2 class="text-danger">Mínimo 5 caracteres</font>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary">
                                Aceptar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>